.headline {
    font-size: 3em;
    font-weight: 700;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.byline {
    font-size: 1em;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1 {
    font-size: 2em;
}

p {
    font-family: georgia, serif;
    line-height: 180%;
}

.chapter-text {
    font-size: 14px;
}

img {
    width: 100%;
    height: auto;
    max-width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.caption {
    font-size: 13px;
    margin-left: 80px;
    margin-right: 80px;
    color: gray;
    text-align: center;
}

footer {
    background-color: black;
    margin-top: 30px;
    height: 60px;
    color: white;
    display: block;
    text-align: center;
    padding-top: 10px;
    font-size: 12px;
    padding-bottom: 70px;
}