#site-name {
    font-family: "Cormorant", serif;
    font-size: 28px;
    margin-top: 6px;
    margin-bottom: 0px;
    text-align: center;
    color: rgb(100, 79, 55);
}


.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
}

header {
    padding-bottom: 5px;
}

hr {
    margin-top: -20.5px;
    height: 10px;
    border: 0;
    border-top: .8px solid black;
}



.topper img {
    max-width: none;
    width: 100%;
    display: block;
    margin: 0;
}


.byline {
    font-size: 1em;
    text-transform: uppercase;
    font-family: georgia, serif;
    text-align: center;
}


.content {
    display: block;
    margin: 0 auto;
    max-width: 900px;
    font-size: 14px;
}


.olivia {
    max-width: none;
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
}


p {
    font-family: georgia, serif;
    line-height: 180%;
    text-align: justify;
}


.yntcdreal1 {
    max-width: 1px;
    min-width: 40%;
    width: 14%;
    display: block;
    float: left;
    margin-left: -10px;
    margin-bottom: 5px; 
}


.image {
    max-width: 100%;
    height: auto;
    display: inline-block;  
}


.chart-container1 {
    display: flex;
    margin: 40px 0;
    width: 100%;
    justify-content: center;
}


.chart-container {
    max-width: none;
    display: block;
    float: right;
    margin: 5px 0px 5px 50px;
    min-width: 60%;
}

.text-container {
    margin-top: -60px;
}


.container {
    margin: 0 auto;
    max-width: 900px;
}


.caption {
    font-size: 13px;
    margin-left: 80px;
    margin-right: 80px;
    color: rgb(180, 92, 26);
    text-align: center;
}


blockquote {
    font-size: 15px;
    color: #bb5a0b;
    font-family: "Cormorant", serif;
}


.pull-quote {
    float: left;             
    width: 35%;              
    font-size: 23px;
    line-height: 1.3;
    margin: 30px 20px 30px 0; 
    padding: 10px;
    border-left: 4px solid #d64c4c;
    font-family: "Cormorant", serif;
}


.tiktok-wrapper {
    float: right;
    width: 300px;
    margin: 0 0 0px 24px;
}


footer {
    background-color: #ac5005;
    margin-top: 30px;
    height: 60px;
    color: white;
    display: block;
    text-align: center;
    padding-top: 10px;
    font-size: 12px;
    padding-bottom: 70px;
}