#content {
    margin: 0 auto;
    width: 900px;
}

#masthead {
    background-color: rgb(225, 225, 221);
    padding: 0px;
    text-align: center;
    border-bottom: 3px solid black;
    margin-bottom: 20px;
}

#site-name {
    color: rgb(207, 22, 22);
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display:inline-block; /*puts the logo inline with the site name. Better with or without?*/
    margin-top:20px;
    margin-bottom:0px;
    margin-left:0px;
    margin-right:0px;
    vertical-align: middle;
    letter-spacing: 2.5px;
    text-shadow: 
        -1px -1px 0 black,  
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}


#site-logo {
    width: 100px;
    margin-bottom: 0; /* Do I need this? I don't see a difference but don't wanna mess it up*/
    vertical-align: middle; /* Aligns logo vertically in the middle */
    margin-top: 25px; /* Adjust the top margin to lower the logo */
}


#description {
    font-size: 1.2rem;
    margin-top: 0px;
    margin-bottom: 20px;
    color: black;
    font-style: italic;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
}

h1 {
    font-family: helvetica, sans-serif;
    color: white;
    margin: 0 auto;
    width: 900px;
}

#subtitle {
    font-family: helvetica, sans-serif;
    font-size: 18px;
}

h2 {
    color: white;
    line-height: 140%;
}

#byline {
    font-family: helvetica, sans-serif;
    font-size: 14px;
    font-style: italic;
}

#authors {
    font-weight: 900;
}

h3 {
    color: white;
    font-size: 23px;
}

body {
    background-color: rgb(73, 59, 59);
}

p { /*body text */
    color: white;
    font-family: georgia, serif;
    font-size: 13px;
    line-height: 140%;
}

img {
    width: 100%;
}

.caption {
    color: rgb(202, 200, 200);
    text-align: center;
}

blockquote {
    font-size:20px;
    font-style: italic;
    color:rgb(245, 246, 190);
}

#quote-credit {
    font-size: 14px;
    text-align: right;
    margin-bottom: 25px;
    font-style: italic;
    color: rgb(202, 200, 200);
}

.closing {
    font-style: italic;
    margin: 30px 0px;
}

h4 {
    font-size: 20px;
    color:white;
    Font-style: italic;
    margin-bottom: 6px;
}

#links a {
    color: rgb(155, 215, 247);
    line-height: 160%;
}